<ion-view view-title="Chats">
  <ion-content>
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
    
      <ion-slide-box class="row-slide-box" show-pager="false" does-continue="true" on-slide-changed="slideHasChanged($index)" delegate-handle="slidebox1">
        <ion-slide ng-repeat="video in videos">
          <div class="slide-item">
            <img ng-src="{{video.video_info.thumbnail}}" class="slide-img">
            <button style="font-size:15px;" class="button-swiper-prev" ng-click="previous('slidebox1')">Prev</button>
            <button style="font-size:15px;" class="button-swiper-next" ng-click="next('slidebox1')">Next</button>
          </div>
          
        </ion-slide>
      </ion-slide-box>

      <ion-slide-box class="row-slide-box" show-pager="false" does-continue="true" on-slide-changed="slideHasChanged($index)" delegate-handle="slidebox2">
        <ion-slide ng-repeat="video in videos">
          <div class="slide-item">
            <img ng-src="{{video.video_info.thumbnail}}" class="slide-img">
            <button style="font-size:15px;" class="button-swiper-prev" ng-click="previous('slidebox2')">Prev</button>
            <button style="font-size:15px;" class="button-swiper-next" ng-click="next('slidebox2')">Next</button>
          </div>
          
        </ion-slide>
      </ion-slide-box>

      <ion-slide-box class="row-slide-box" show-pager="false" does-continue="true" on-slide-changed="slideHasChanged($index)" delegate-handle="slidebox3">
        <ion-slide ng-repeat="video in videos">
          <div class="slide-item">
            <img ng-src="{{video.video_info.thumbnail}}" class="slide-img">
            <button style="font-size:15px;" class="button-swiper-prev" ng-click="previous('slidebox3')">Prev</button>
            <button style="font-size:15px;" class="button-swiper-next" ng-click="next('slidebox3')">Next</button>
          </div>
          
        </ion-slide>
      </ion-slide-box>
      
    
  </ion-content>
</ion-view>
